@{
    ViewData["Title"] = "Home Page";
}

<body>
    
        <form method="post" asp-controller="BoardGame" asp-action="BoardGame">
            <button class="btn btn-lg btn-primary">View Board Games!</button>
        </form>
    
</body>